@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    background-color: #1E2021;
    color: white;
}

.container {
    max-width: 1324px;
    padding: 0 30px;
    margin: auto;
    /* border: solid 1px red; */

}


/*------------------------------
   Header Nav Style Start Here 
--------------------------------*/

.nav-content {
    display: flex;
    gap: 267px;
    padding-top: 30px;
}

.nav-link a:hover {
    color: #F05E37;
}

.list-flex {
    display: flex;
    gap: 30px;
}

.search-btn {
    position: relative;
    right: -660px;
    bottom: 30px;
    padding: 11px 30px 10px 40px;
    background-color: #1E2021;
    border: solid 1px lightslategrey;
    border-radius: 5px;
}

.search-icon {
    position: relative;
    right: -540px;
    bottom: 26px;
}

/*------------------------------
   Header Nav Style End Here 
--------------------------------*/

/*------------------------------
   Hero Section Style Start Here 
--------------------------------*/

.hero-content {
    display: flex;
    justify-content: space-between;
    gap: 150px;
    padding-top: 40px;
    padding-bottom: 45px;
}

.hero-text {
    max-width: 565px;
}

.hero-text h1 {
    font-size: 65px;
    font-weight: 600;
    line-height: 86px;
    padding-top: 63px;
    /* position: relative;
    z-index: 1; */

}

.hero-text p {
    max-width: 460px;
    padding-top: 30px;
    padding-bottom: 47px;
}

.hero-btn a {
    padding: 16px 28px;
    background-color: #F05E37;
}



.img-1 {
    max-width: 609px;
}

/*------------------------------
   Hero Section Style End Here 
--------------------------------*/

/*------------------------------
   Hero-2 Section Style Start Here 
--------------------------------*/

.hero-2-content {
    display: flex;
    gap: 29px;
    padding-top: 98px;
    padding-bottom: 100px;
}

.sup-header {
    color: #F05E37;
    font-size: 16px;
}

.main-header {
    font-size: 40px;
    line-height: 50px;
}

.hero-2-text p {
    font-size: 16px;
    color: #AAAAAA;
    padding-top: 15px;
    padding-bottom: 30px;
}

.icon-1,
.icon-2 {
    display: flex;
    gap: 28px;
}

.icon-1 img,
.icon-2 img {
    padding-top: 10px;
}

.div-2 h3 {
    font-size: 24px;
    color: rgb(250, 218, 114);
}

.div-2 p {
    font-size: 14px;
}

.hero-btn {
    padding-top: 30px;
}

.hero-2-btn {
    padding: 15px 32px;
    background-color: #F05E37;
}

/*------------------------------
   Hero-2 Section Style End Here 
--------------------------------*/

/*------------------------------
   small-div Style Start Here 
--------------------------------*/

.simple-text {
    text-align: center;
    padding-top: 98px;
}

.simple-text h1 {
    font-size: 50px;
}

.div-flex {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-top: 27px;
    padding-bottom: 30px;

}

.icons-div {
    border: 1px solid #AAAAAA;
    padding: 12px 15px;
    text-align: center;
}

/*------------------------------
   small-div Style End Here 
--------------------------------*/

/*------------------------------
   food-house Style start Here 
--------------------------------*/
.icon-all i {
    color: #F05E37;
}

.dollar-icon {
    color: #F05E37;
}

.grid-line {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding-top: 30px;
    padding-bottom: 45px;
}

.new {
    display: flex;
    border: solid 1px rgb(97, 97, 97);

}

.food-img img {
    padding: 20px;


}

.food-text {
    padding: 29px;
    padding-bottom: 0;
}


.food-text h2 {
    font-size: 24px;
}

.food-text p {
    font-size: 12px;
    padding-top: 9px;
}

.last-icon {
    display: flex;
}

.last-icon i {
    color: #F05E37;
    padding-top: 27px;
}

.last-icon p {
    color: #F05E37;
    font-size: 30px;
}

.view-all a {
    padding: 16px 35px;
    background-color: #F05E37;
    position: relative;
    left: 570px;

}





/*-----------------------------
    Responsive For Tablet
-------------------------------*/

@media screen and (max-width: 991px) {

    /* Header Nav Style Start Here */

    .nav-logo img {
        max-width: 80px;

    }

    .nav-content {
        gap: 25px;
    }

    .list-flex {
        gap: 15px;
    }

    .search-btn {
        right: -490px;
    }

    .search-icon {
        right: -370px;
    }

    /* Header Nav Style End Here */

    /* Hero Section Style Start Here */

    .hero-content {
        gap: 20px;
    }


    .hero-text h1 {
        font-size: 42px;
        padding: unset;
        line-height: 50px;
    }

    .img-1 {
        max-width: 400px;
    }



    /* Hero Section Style End Here */

    /* Hero-2 Section Style Start Here */

    .hero-img {
        max-width: 350px;

    }

    .main-header {
        font-size: 30px;
    }

    /* Hero-2 Section Style End Here */

    /* small-div Style Start Here */

    .simple-text {
        padding-top: 48px;
    }

    /* small-div Style End Here */

    /* food-house Style start Here */

    .grid-line {
        grid-template-columns: 1fr;
    }

    .view-all a {
        left: 300px;
    }

    /* food-house Style end Here */
}

/*-----------------------------
    Responsive For Smartphone
-------------------------------*/
@media screen and (max-width: 767px) {

    /* Header Nav Style Start Here */

    .nav-logo img {
        max-width: 180px;
    }

    .list-flex {
        display: none;
    }

    .search-btn {
        left: 40px;
        bottom: 5px;
    }

    .search-icon {
        display: none;
    }

    /* Header Nav Style End Here */

    .hero-content {
        flex-direction: column-reverse;

    }

    .hero-text {
        text-align: center;
    }

    .img-1 {
        max-width: 320px;
    }

    /* Hero-2 Section Style End Here */

    .hero-2-content {
        flex-direction: column;
    }

    .hero-2-text {
        text-align: center;
    }

    .icon-1,
    .icon-2 {
        display: block;
    }

    /* small-div Style Start Here */

    .simple-text {
        font-size: 30px;
    }

    .div-flex {
        gap: 0px;

    }

    .div-flex p {
        font-size: 9px;
    }

    .div-flex img {
        max-width: 20px;
    }

    /* food-house Style start Here */

    .food-img img {
        max-width: 140px;
        padding-top: 60px;
    }

    .icon-all i {
        font-size: 10px;
        padding: unset;
    }

    .food-text h2 {
        font-size: 23px;
    }

    .food-text p {
        font-size: 10px;
        padding: unset;
    }

    .last-icon i {
        font-size: 12px;
        padding-top: 10px;
    }

    .last-icon p {
        font-size: 18px;
    }

    .view-all a {
        display: none;
    }

    /* food-house Style start Here */
}